{{> templates/section-title title="Professional expertise<span>in building systems</span>"}}

<img src="/img/v.png" class="rounded border border-dark border-opacity-50" alt="Valentin Alexiev - System Architect">

<h3>Valentin Alexiev<span>, System Architect</span></h3>

<p>Valentin is a Business+Technical Advisor who gained diverse experience through mentoring, consultancy, and development of tech companies, startups, and a VC fund.</p>

<p>Since 2008 in the roles of Solution Architect/Business System Analyst/Product Owner Valentin:
  <ul>
    <li><strong>Evaluated over 500+ startups</strong> in various industries from Europe and Africa;</li>
    <li><strong>Mentored 60+ startups</strong> about System Architecture, roadmaps, MVP, crypto-economic primitives, etc.;</li>
    <li><strong>Designed the architecture</strong> of web3 dapps, NFT tokens, blockchain systems, web platforms, mobile and desktop apps for business, accounting and other industries.</li>
  </ul>
</p>

<p>For over a decade now, most of his contracts have been focused on tech consulting including software design and architecture, project management, software development, and coaching of Blockchain companies.</p>
