{{> templates/section-title title="Book a call"}}


<p><strong>LinkedIn:</strong> <a href="{{contact.linkedin}}" target="_blank">{{contact.linkedin}}</a></p>
<p><strong>Calendly:</strong> <a href="#" target="_blank">calendly...</a></p>


{{> content/contact-form }}

<p class="my-5">* First 1 hour is free.</p>
