<header class="p-3">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">{{site.title}}</a>

      <div class="text-end" style="color: orange;">&bull; UNDER CONSTRUCTION &bull;</div>
    </div>
  </div>
</header>
