{{> templates/section-title title="Services"}}

<p class="fs-5 text-center pb-4">Proven process and clear deliverables.</p>

<div class="accordion">

  {{> templates/accordion-item itemId="service-1" title="#1 Get tech specs and action plan ready for execution by a Project Manager and their team" accordionContent="content/materials"}}

</div>

<div class="accordion">

  {{> templates/accordion-item itemId="service-2" title="#2 Get hands-on guidance along the way" accordionContent="content/guidance"}}

</div>

<div class="d-grid gap-2 d-sm-flex py-5 justify-content-sm-center">
  <a href="#section-call" class="btn btn-primary btn-lg px-4 gap-3">Book a call</a>
</div>


<div class="accordion" id="accordion-donts">

  {{> templates/accordion-item itemId="donts" title="* Don'ts" accordionContent="content/donts"}}

</div>
