{{> templates/section-title title="Testimonials"}}

<div class="owl-carousel testimonials-carousel">

  {{> mockups/testimonial }}
  {{> mockups/testimonial }}
  {{> mockups/testimonial }}
  {{> mockups/testimonial }}
  {{> mockups/testimonial }}
  {{> mockups/testimonial }}
  {{> mockups/testimonial }}
  {{> mockups/testimonial }}
  {{> mockups/testimonial }}
  {{> mockups/testimonial }}

</div>
