<div class="p-5 text-center rounded-3 border shadow-lg" id="why">
  <h2 class="display-5 fw-bold lh-1">Build your software with <em>human</em> guidance.<span>Lean.</span></h2>
  <div class="col-lg-7 mx-auto">
    <p class="lead mb-4">The Studio helps entrepreneurs and teams with technical and strategic consulting to get a clear vision for building software products successfully.</p>
    <div class="d-grid gap-2 d-sm-flex py-3 justify-content-sm-center">
      <a href="#section-call" class="btn btn-primary btn-lg px-4 gap-3">Book a free call</a>
    </div>
  </div>
</div>
