{{> templates/section-title title="App Architect"}}

<div class="card" id="bio">
  <div class="row no-gutters">
    <div class="col-4">
      <img src="/img/v.png" class="card-img" alt="Valentin Alexiev - App Architect">
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">Valentin Alexiev</h5>
        <!-- <p class="card-text"><small class="text-muted">App Architect</small></p> -->
        <p class="card-text">Valentin has been Chief Tech & Blockchain Analyst and Consultant at AE Ventures, an investment fund, where he has participated in the organization of acceleration programs in Malta, India and Bulgaria for businesses utilizing blockchain technologies, evaluated over 500+ startups in various industries from all over the world, mentored over 60 of them about product development, roadmap, MVP, system architecture, cryptoeconomic primitives, etc.</p>

        <p class="card-text">Apart from that, Valentin has 12 years of experience in different roles in software development in various projects that taught him to speak both languages of business people and tech people and know how to bridge both sides.</p>

        <p class="card-text">Valentin uses systems thinking approach combined with diverse interests in Product Development, Software Development, Business, Economics and Distributed Ledger Technologies (DLT).</p>
        <p class="card-text">Blockchain and crypto are his passion since the early years of Bitcoin when only some crazy people believed in it. Valentin applies blockchain technologies for business solutions.</p>

      </div>
    </div>
  </div>
</div>
