<div class="jumbotron">
  <div class="container-fluid text-center">
    <img src="/img/logo-111.png">
    <h1 class="display-3">Create architecture<br>of apps and systems.</h1>
    <p>A bridge between business and technical people.</p>
    <!-- <p>Design technical specifications and roadmap for developers and manage changes along the way.</p> -->
  </div>
</div>
