{{> templates/section-title title="Professional expertise in the development process"}}

<img src="/img/v.png" class="rounded border border-dark border-opacity-50" alt="Valentin Alexiev - System Architect">

<p>As Solution Architect, Business System Analyst, and Product Owner at tech companies, startups, and a VC fund, Valentin Alexiev:
  <ul>
    <li>evaluated over <strong>500+ startups</strong> in various industries mainly from Europe, as well as some from South America and Africa, and <strong>mentored 65</strong> of them about product development, roadmap, MVP, system architecture, and crypto-economic primitives;</li>
    <li>designed the architecture of <strong>web3 dapps, blockchain systems, web platforms, mobile apps, and smart contracts</strong> for various business use cases like:
      {{> content/projects-overview-list}}
    </li>
  </ul>
</p>

<p>Over the last <strong>15 years</strong> Valentin performed various roles in software development including also Project Manager, Developer, Consultant, and Coach in Blockchain/Dapps development that taught him how to get acquainted effectively with the subject matter and explain complex things in simple words and diagrams in order to get all parties (business, tech, users) on the same page.</p>
