{{> templates/section-title title="Ready to execute your ideas?"}}

<ol>
  <li><strong>Contract per project with predefined deliverables, delivery date, and conditions.</strong>
    <p>A bigger system can be viewed as a composition of smaller components/projects, so for each of them we can have an independent contract.</p>
    <p>Rate: $9999/day</p>
  </li>
  <li><strong>Retainer agreement for long-term collaboration reserving part of the working time per month.</strong>
    <p>The projects and their deliverables are defined on the go.</p>
    <p>Reserve 50% of the time per month for a duration of at least 6 months: $99999/month.</p>
  </li>
</ol>

<p>Payments:
  <ul>
    <li>Accept payment in fiat and crypto.</li>
    <li>Upon receiving a payment System Architecture Studio Ltd. issues an invoice.??? DALI DA OSTANE ???</li>
  </ul>
</p>
