{{> templates/section-title title="Ready to execute your ideas?"}}

<p class="lead text-center mb-5">Two ways of contracting:</p>

<div class="row row-cols-1 row-cols-sm-2 justify-content-center justify-content-sm-between m-auto">
  <div class="col mb-4">
    <div class="card rounded-3 shadow-sm h-100">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal text-center"># Contract for a project</h4>
      </div>
      <div class="card-body">
        <p><strong>Contract per project with well defined scope - deliverables, delivery date, and conditions.</strong></p>
        <p>A bigger system can be viewed as a composition of smaller components/projects, so each of them can have an independent contract.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card rounded-3 shadow-sm h-100">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal text-center"># Retainer agreement</h4>
      </div>
      <div class="card-body">
        <p><strong>Retainer agreement for long-term collaboration reserving part of the monthly working time for the client.</strong></p>
        <p>This guarantees regular availability each month. The scope of the work is defined along the way of one or more projects.
        </p>
      </div>
    </div>
  </div>
</div>


<p class="text-muted text-center fs-5 mt-5">* * * * *<br/>Accept fiat and crypto.</p>
