{{> templates/section-title title="Proven process and clear deliverables."}}


<p>The provided services focus to clarify the business and user logic, specify them in technical terms with an action plan and communicate them as understandable as possible to both business people and technical engineers. The services include the following:</p>
<ol>
  <li><h3>Get tech specs and action plan ready for execution by a Project Manager and a dev team:</h3>
    {{> content/materials}}
  </li>
  <li><h3>Get hands-on guidance along the way:</h3>
    <ol>
      <li><h4>Support the tech team during the development process by:</h4>
        <ul>
             <li>working closely with the Project Manager and dev team at scrum or weekly meetings to keep the focus on serving the user and advocate their interests,</li>
             <li>answering questions regarding the specifications and amending them whenever needed.</li>
        </ul>
      </li>
      <li><h4>Change management.</h4>
        <p>Often changes in the project appear, because of a business pivot, priority, scope, requirements, constraints in time, technology, regulations, developers' availability, etc. that require adjustment of the plan and the technical specifications. These adjustments should be handled gently without disturbing the work of the software engineers or at least minimize the distraction as much as possible, and reuse the already built components.</p>
      </li>
      <li><h4>Technical consulting in negotiations and deals.</h4>
        <p>TODO:...</p>
      </li>
      <li><h4>Assistance in the recruitment process of tech engineers.</h4>
        <p>Building a team of people who fit both professionally and culturally may make the difference between success and failure. Developers, Project Managers, and CTOs by defining requirements and responsibilities, as well as assessment of applicants.</p>
      </li>
    </ol>
  </li>
</ol>


<p>The following services are not provided:</p>

{{> content/not-doing}}
