{{> templates/section-title title="Services" subtitle="Proven process and clear deliverables."}}

<p class="fs-5 text-muted">The provided services focus to clarify the business and user logic, specify them in technical terms with an action plan and communicate them as understandable as possible to both business people and technical engineers. The services include the following:</p>

<div class="accordion">

  {{> templates/accordion-item itemId="service-1" title="#1 Get tech specs and action plan ready for execution by a Project Manager and a dev team" accordionContent="content/materials"}}

</div>

<div class="accordion">

  {{> templates/accordion-item itemId="service-2" title="#2 Get hands-on guidance along the way" accordionContent="content/guidance"}}

</div>
