<div class="p-5 text-center rounded-3 border shadow-lg" id="why">
  <h2 class="display-5 fw-bold lh-1"><em>Human</em> guidance for building your software.<span>Lean.</span></h2>
  <div class="col-lg-7 mx-auto">
    <p class="lead mb-4">Get a clear vision for building successfully your web3 dapps, blockchain systems, web platforms, mobile apps, and other software with sound architecture, a detailed action plan, tech specs, and human guidance speaking your domain language.</p>
    <div class="d-grid gap-2 d-sm-flex py-3 justify-content-sm-center">
      <a href="#section-call" class="btn btn-primary btn-lg px-4 gap-3">Book a call</a>
      <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">See details</button> -->
    </div>
  </div>
</div>
