{{#extend "html/template" bodyId="page-home"}}
  {{#content "body"}}

    {{> partials/header activePage="/about"}}

    {{> partials/hero-2 }}

    <section id="section-intro">
      <div class="container-fluid">

        <div class="section-title">
          <h2>Product Owner / Business Analyst</h2>
          <p>Architecting an app or a system (e.g. desktop or mobile app, web platform, CRM, ERP, etc.) is a process that results in defined concrete tech specifications needed by developers to program. The more complex the project, the more important is the architecture.</p>
          <p>There are multiple benefits of good architecture: it saves a lot of time of developers, minimizes the logical errors and bugs, improves the maintainability of the system over time, optimizes the required number of developers as well as their skill level, improves the accountability, with better syncronization in the team the working environemnt is better as well, and many more.</p>
          <p>The service includes the following:</p>
        </div>

        <div class="row justify-content-center">

          {{> partials/scope }}

        </div>
      </div>
    </section>

    <section id="section-bio">
      <div class="container-fluid">
        {{> partials/bio }}
      </div>
    </section>

    <!-- TESTIMONIALS -->
    <section id="section-testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
        </div>

        <div class="owl-carousel testimonials-carousel">

          {{> partials/testimonial }}
          {{> partials/testimonial }}
          {{> partials/testimonial }}
          {{> partials/testimonial }}
          {{> partials/testimonial }}
          {{> partials/testimonial }}
          {{> partials/testimonial }}
          {{> partials/testimonial }}
          {{> partials/testimonial }}
          {{> partials/testimonial }}

        </div>

      </div>
    </section><!-- End Testimonials Section -->


    {{> partials/footer }}

  {{/content}}
{{/extend}}
