<ul>
  <li>Define project scope.</li>
  <li>Elicit requirements.</li>
  <li>Understand and define the stakeholders’ needs.</li>
  <li>Define acceptance criteria.</li>
  <li>Define user stories.</li>
  <li>Define use cases.</li>
  <li>Define tech specs: APIs, data entities, data validation rules, database design, processing logic, cron jobs, user access levels (ACL), user experience (UX), screen sketches with detailed explanation.</li>
  <li>Define a roadmap for development and deployment.</li>
  <li>Manage a project backlog.</li>
  <li>Evaluate project progress at each iteration.</li>
  <li>Participate in scrum meetings to ensure the team keeps focus on the goal.</li>
  <li>Change management.</li>
  <li>Facilitate the conversation between business people and tech engineers.</li>
</ul>
