<p>The following activities are not provided:</p>
<ul>
  <li>Management/supervision of developers or other personnel. <em>(Technical Project Manager)</em></li>
  <li>Code reviews. <em>(Technical Project Manager, senior developer)</em></li>
  <li>Quality assurance. <em>(QA expert)</em></li>
  <li>Security audits. <em>(Security expert)</em></li>
  <li>DevOps estimations and planning. <em>(DevOps engineer)</em></li>
  <li>Аesthetic and polished graphic designs of UI. <em>(Graphic designer)</em></li>
  <li>Generation/discovery of business ideas. <em>(entrepreneur, Product Manager)</em></li>
  <li>Validation of business ideas. <em>(entrepreneur, Product Manager)</em></li>
  <li>Preparing business plans, whitepapers, and pitch decks. <em>(entrepreneurs, Product Manager, BizDev)</em></li>
  <li>Advertise client’s job offers. <em>(HR, head hunter)</em></li>
</ul>
