<ol>
  <li><span class="service-title">Technical consulting in negotiations and deals.</span>
    <p>The bigger the deal the more critical is to have technical advocacy on your side with clear understanding of the implications of the tech details on the business in short and long term.</p>
  </li>
  <li><span class="service-title">Estimations of time and budget:</span>
    <ul>
      <li><strong>Rough estimation</strong> of execution time, major components and milestones, number of required developers and level of required level of their expertise, budget range. This is appropriate at the early stage of planning a project to get an idea of the project's caliber. It is useful to make decisions for:
        <ol>
          <li>level of required funding and time when it will be needed,</li>
          <li>early identification of possible tech challenges or roadblocks,</li>
          <li>identification of possible partnerships that will contribute to the development of the project,</li>
          <li>synchronization with other business activities - marketing, fundraising, partnership agreements, etc.</li>
        </ol>
      </li>
      <li><strong>Detailed estimation</strong> of execution time and budget range, created in collaboration with the Project Manager according to the available ingineers and their level of expertise.</li>
    </ul>
  </li>
  <li><span class="service-title">Recommendations</span> for technologies, software development methodologies and approaches, tools, infrastructure, 3rd party service providers, etc.
  </li>
  <li><span class="service-title">Assistance in the recruitment process of software engineers.</span>
    <p>Building an efficient team of people who fit both professionally and culturally may make the difference between success and failure. The assistance in recruitment of software developers, Project Managers, CTOs and others includes clear definition of requirements and responsibilities of each role, as well as assessment of applicants.</p>
  </li>
</ol>
