<ol>
  <li><span class="service-title">Tech specs:</span>
    <ol>
      <li>Requirements elicitation.</li>
      <li>Definition of the MVP scope.</li>
      <li>Detailed specification of user goals, actions, and features (user use cases, user stories), satisfying the interest of all system stakeholders.</li>
      <li>Business process modeling (BPM) with UML structural and behavioral diagrams.</li>
      <li>Data modeling specifications containing data entities and their relations needed for database design.</li>
      <li>Database design.</li>
      <li>Data validation rules.</li>
      <li>Specification of user roles and access levels in the system.</li>
      <li>Sitemap - a hierarchical structure of the screens and their sections.</li>
      <li>UI wireframes of screens, sections, popups, custom controls, and other elements.</li>
      <li>API specification in OpenAPI format ready for use with Swagger or other tools.</li>
      <li>Definitions of cron jobs.</li>
    </ol>
  </li>
  <li><span class="service-title">Action plan</span> created in collaboration with the business people (CFO, COO, CMO, Product Manager, etc.) and tech team (Technical Project Manager and the developers):
    <ul>
      <li>Roadmap with milestones for each version release synchronized with your business priorities and requirements.</li>
      <li>A Gantt chart with the timings of development of each component and each activity.</li>
      <li>Backlog with features for each sprint in the Roadmap.</li>
    </ul>
  </li>
  <li><span class="service-title">Support the tech team during the development process by:</span>
    <ul>
      <li>being the voice of the user at weekly meetings to advocate their interests and keep focus of the engineering team,</li>
      <li>answering questions regarding the specifications and amending them whenever needed.</li>
    </ul>
  </li>
  <li><span class="service-title">Change management.</span>
    <p>Often changes in the project appear, because of a business pivot, priority, scope, requirements, constraints in time, technology, regulations, developers' availability, etc. that require adjustment of the plan and the technical specifications. These adjustments should be handled gently without disturbing the work of the software engineers or at least minimize the distraction as much as possible, and reuse the already built components.</p>
  </li>
</ol>
