<ul>
  <li>Web platform for analyzing strategies in the esport game Valorant (<a href="https://augment.gg/" target="_blank">Augment.gg</a>, the best platform in the world in its market segment used by world champions);</li>
  <li>The client management system of <a href="https://blockchain.bg/" target="_blank">Blockchain.bg</a>, an investment fund managing a portfolio of cryptocurrencies;</li>
  <li>SaaS for intercompany reconciliations for companies of any size and structure up to international holdings as well as integration of FX rates in any currency (startup);</li>
  <li>Event ticketing system (startup);</li>
  <li>R&D PoC of a system for decentralized e-shops based on <a href="https://solidproject.org/" target="_blank">Solid pods</a> with crypto payments.</li>
</ul>
