<div class="row justify-content-center">
  <div class="col-12 col-sm-12 col-md-4">
    <div class="target-icon text-center text-bg-primary bg-gradient fs-1 mb-3 rounded-circle">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
      </svg>
    </div>
    <h3>Entrepreneurs, Product Managers, and business people</h3>
    <p>For people who are aiming to build web3 ideas or traditional systems and have little or no experience in tech development. Striving for fast execution and optimization of development costs.</p>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="target-icon text-center text-bg-primary bg-gradient fs-1 mb-3 rounded-circle">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
      </svg>
    </div>
    <h3>Technical Project Managers</h3>
    <p>For people managing a dev team, who need a roadmap, clear architecture and tech specs, already collected and provided user requirements, credentials, materials, etc., and well-defined features in the backlog.</p>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="target-icon text-center text-bg-primary bg-gradient fs-1 mb-3 rounded-circle">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
      </svg>
    </div>
    <h3>Developers</h3>
    <p>For software engineers who want to focus solely on programming and not wasting time in meetings with clients neither to understand their problems and domain, nor being bothered with questions regarding business/user logic, nor defining objectives and tasks, gathering materials, nor researching user information.</p>
  </div>
</div>
