<ol>
  <li><h3>Entrepreneurs, Product Managers, and business people</h3>
    <p>For people who are aiming to build web3 ideas or traditional systems and have little or no experience in tech development. Striving for fast execution and optimization of development costs.</p>
  </li>
  <li><h3>Technical Project Managers</h3>
    <p>For people managing a dev team, who need a roadmap, clear architecture and tech specs, already collected and provided user requirements, credentials, materials, etc., and well-defined features in the backlog.</p>
  </li>
  <li><h3>Developers</h3>
    <p>For software engineers who want to focus solely on programming and not wasting time in meetings with clients neither to understand their problems and domain, nor being bothered with questions regarding business/user logic, nor defining objectives and tasks, gathering materials, nor researching user information.</p>
  </li>
</ol>
